body {
	font-family: 'Lora', serif;
	margin: 0 auto;
}	

 .container-fluid {
	background-image: url(http://physrev.physiology.org/content/physrev/96/4/1593/F1.large.jpg);
	/*background-repeat: repeat;*/
	background-size: contain, cover;
	margin: 0 auto;
	color: black;
}

.navbar-header {
	color: black;
	font-weight: bold;	
}

.dropdown {
	background-color: rgba(235, 235, 235, 0.5);
	color: black;
}	

#alone {
	background-color: rgba(235, 235, 235, 0.5);
	color: black;
}

.container {
	text-align: justify;
}	

h1 {
	text-align: center;
	text-shadow: 1px 2px 5px
}	

h2 {
	text-decoration: underline;	
}

img {
	 display: block;
	 margin: auto;
	 padding-top: 20px;
	 width: 30%;
}

#receptorg {
	width: 50%;
}	

figcaption {
	text-align: center;
}

#localisation {
	text-indent: 20px;
}

.pathway {
	text-align: center;
	padding: 0px 50px 25px;
	line-height: 1.5;
}

#receptorg {
	padding: 0px 50px 25px;
}

.btn-primary {
	margin: 50px 25px 25px;
}

.btn-default {
	margin: 25px 25px 25px;
	align-content: center;
}

.btn-info {
	margin: 25px 25px 25px;
}

.btn-danger {
	margin: 25px 25px 25px;
}

#panelA {
    display: none;
}

#panelB {
    display: none;
}

#panelC {
    display: none;
}

#panelD {
    display: none;
}

#panelE {
    display: none;
}



{}

